# Environment (jangan pernah ke repo)
.env
.env.local
.env.*.local

# Node.js deps
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lockfiles (opsional: kalau timmu pakai lockfile, hapus barisnya)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist
build

# Logs
logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

# OS junk
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.swp
